@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,500&family=Poppins:wght@500;700&family=Quicksand:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  margin: 0;
}

.jumbotron {
  background-image: url("/img/bg-img.png");
  padding: 60px;
}

nav {
  position: sticky;
  top: 0;
  margin: 0;
}

nav ul {
  background-color: rgb(208, 208, 208);
  padding: 8px;
  font-weight: 400;
  font-size: 1em;
}

nav li {
  list-style-type: none;
  display: inline;
  padding: 25px;
}

nav a {
  text-decoration: none;
  color: rgb(49, 46, 41);
  font-size: 1.5em;
}

nav a:hover {
  background-color: #334354;
  color: white;
  border-radius: 50px;
  padding: 4px;
}

.self-card {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  
}

main {
  flex-flow: column nowrap;
  padding: 10px;
  display: flex;
  gap: 2.5rem;
}

#content {
  display: flex;
  width: 55%;
  margin-left: 5%;
  padding: 30px;
  gap: 1.5rem;
}

main h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
}

.card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  display: inline;
  justify-content: space-around;
}

.content-image {
  width: 80%;
}

main .content-description {
  text-align: center;
  font-size: 16px;
}

button {
  border: none;
  padding: 10px;
  justify-content: center;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
}

button:hover {
  color: rgb(193, 147, 72);
  font-weight: bold;
}

#story {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  width: 55%;
  padding: 70px;
  margin-bottom: 20px;
  margin-left: 5%;

  gap: 2rem;
}

.story-card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

#story h1 {
  font-size: 35px;
}

.story-text {
  font-size: 20px;
}

aside {
  margin-left: 60%;
  margin-top: 6%;
  position: absolute;
  padding: 30px;
}


aside .profile-card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  align-items: center;

  font-size: 16px;
}

.profile img {
  width: 130px;
}

main aside .social-media {
  display: flex;
  margin: 5px;
  justify-content: center;
}

main aside .social-media ul {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(208, 208, 208);
 
  display: flex;
  gap: 1.5rem;
}

aside li {
  list-style-type: none;
}

header {
  display: inline;
}

footer {
  padding: 40px;
  background-color: rgb(208, 208, 208);
  text-align: center;
  font-size: 1.2em;
}

footer p {
  color: rgb(49, 46, 41);
  font-weight: bold;
  text-decoration: none;
}

/*Layout Responsive CSS*/
@media screen and (max-width: 1200px) {
  }
  
@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }
  nav ul {
    justify-content: center;
  }

  .jumbotron {
    width: auto;
  }

  main .card {
    flex-flow: column nowrap;
    display: block;
  }

  main .content-description {
    align-self: center;
  }

  .story-card {
    align-items: center;
  }
 
  aside {
    align-self: stretch;
  }

  aside .profile-card {
    align-self: stretch;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  main {
    align-items: center;
  }

  .self-card {
    margin-left: 5%;
  }
  
  aside {
    position: relative;
    margin-left: 2%;
    align-items: center;
    margin-top: 0;
  }
}



